<div class="home-page">
  <div id="intro" class="flow-gradient">
    <div class="page-base-wrap">
      <img alt="Danny and Jason's Wedding" class="img-title" src="static/pages/home-page/img/img-title.png" />
      <p class="message-info">Please join us for a pleasant afternoon of snacks, drinks, music, and dancing on a tropical lawn beside the Pacific. We will be honeymooning the week before the wedding (why not?) but we hope you'll stay for the week after and visit with us on beautiful Maui. Below you will find information to help you book your flight and accommodations. It's a long trip, we know, but a great destination. The only gift we ask is your presence to help us celebrate. Hope to see you there!</p>
      <div class="main-photo-center">
        <img src="static/pages/home-page/img/dogface.jpg" />
      </div>
    </div>
  </div>
  <div id="date-scroll" class="trigger-scroll" data-name="date">
    <div class="title-section-pretty">
      <h1>
        October 19th 2014
      </h1>
      <p>
        We thought about having our wedding on Halloween, but we realized it would be a bit silly to have our anniversary in scary costumes. 
      </p>
    </div>
  </div>
  <div id="location-scroll" class="trigger-scroll flow-gradient" data-name="location">
    <div class="page-base-wrap">
      
      <div class="row">
        <div class="col-md-6">
          <h1>
            Gannon's
          </h1>
          <p>
            100 Wailea Golf Club Dr<br />
            Wailea-Makena, HI 96753
          </p>
          <p>
            <a href="http://gannonsrestaurant.com/weddings/services/wedding-packages/marry-me-on-the-knoll/">Getting married on the knoll</a>
          </p>
          <p>
            We wanted to find a place that would be beautiful and memorable. And with help from our wedding planner, Shawna King, we found it. We truly hope you can make it there and celebrate good times with us.
          </p>
        </div>
        <a href="http://gannonsrestaurant.com/weddings/services/wedding-packages/marry-me-on-the-knoll/">
          <div class="col-md-6 img-decor-gannons"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="flow-gradient">
    <div id="accomodation-scroll" class="trigger-scroll" data-name="accomodation">
        <div class="flow-gradient">
          <h1 class="page-base-wrap" style="padding-top: 50px;">
            Accomodations
          </h1>
          <p class="page-base-wrap">It goes without saying there are <i>a lot</i> of accommodation options on Maui. We have listed a few of them below, just to get you started.</p>
          <div class="row accomodate-row page-base-wrap">
            <div class="col-md-6">
              <div class="decor-accomodate-img">
                <img src="http://www.maalaeabay.com/image-files/is/is7.jpg" />
              </div>
            </div>
            <div class="col-me-6">
              <div class="decor-accomodate-text">
                <h3>
                  <a href="http://www.maalaeabay.com/rentals.html">Maalaea Bay Village</a>
                </h3>
                <p>
                  <span class="glyphicon glyphicon-asterisk"></span> Nine buildings with over 140 units for rent on the south shore
                </p>
                <p>
                  <span class="glyphicon glyphicon-asterisk"></span> Single-, double-, and three-bedroom oceanfront and oceanview units overlooking the beach and reef
                </p>
                <p>
                  <span class="glyphicon glyphicon-asterisk"></span> From $100 to $275 per night
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="flow-gradient">
          <div class="row accomodate-row page-base-wrap">
            <div class="col-md-6">
              <div class="decor-accomodate-img">
                <img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-prn2/t1.0-9/298517_134713079968073_1730807077_n.jpg" />
              </div>
            </div>
            <div class="col-me-6">
              <div class="decor-accomodate-text">
                <h3>
                  <a href="http://www.nanikaihale.com/rates.html">Nani Kai Hale</a>
                </h3>
                <p>
                  <span class="glyphicon glyphicon-asterisk"></span> One- or two-bedroom, two bath units, sleeping four to six guests
                </p>
                <p>
                  <span class="glyphicon glyphicon-asterisk"></span> Beach-front or oceanview units available
                </p>
                <p>
                  <span class="glyphicon glyphicon-asterisk"></span> From $125 to $195 per night
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="flow-gradient">
          <div class="row accomodate-row page-base-wrap">
            <div class="col-md-6">
              <div class="decor-accomodate-img">
                <img src="http://secure.instantsoftwareonline.com/StayUSA/PropertyImages/0972/SU209/1.jpg" />
              </div>
            </div>
            <div class="col-me-6">
              <div class="decor-accomodate-text">
                <h3>
                  <a href="http://www.sugarbeachresort.net/bre/listproperties">Sugar Beach Resort</a>
                </h3>
                <p>
                  <span class="glyphicon glyphicon-asterisk"></span> Vacation rentals for stays of four nights or more
                </p>
                <p>
                  <span class="glyphicon glyphicon-asterisk"></span> Many units available, each sleeping two to four
                </p>
                <p>
                  <span class="glyphicon glyphicon-asterisk"></span> From $250 per night
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="flow-gradient">
          <div class="row accomodate-row page-base-wrap">
            <div class="col-md-6">
              <div class="decor-accomodate-img">
                <img src="http://www.daysinn.com/common/images/branded/DI/images/34006_b1.jpg" />
              </div>
            </div>
            <div class="col-me-6">
              <div class="decor-accomodate-text">
                <h3>
                  <a href="http://www.daysinn.com/hotels/hawaii/maui/days-inn-maui-oceanfront/hotel-overview">Oceanfront Day's Inn</a>
                </h3>
                <p>
                  <span class="glyphicon glyphicon-asterisk"></span> From $98 per night
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="flow-gradient">
          <div class="row accomodate-row page-base-wrap">
            <div class="col-md-6">
              <div class="decor-accomodate-img">
                <img src="http://exp.cdn-hotels.com/hotels/1000000/10000/2500/2457/2457_10_y.jpg" />
              </div>
            </div>
            <div class="col-me-6">
              <div class="decor-accomodate-text">
                <h3>
                  <a href="http://www.tripadvisor.com/Hotel_Review-g60632-d813188-Reviews-Maui_Beach_Vacation_Club-Kihei_Maui_Hawaii.html">Maui Beach Vacation Club</a>
                </h3>
                <p>
                  <span class="glyphicon glyphicon-asterisk"></span> From $84 per night
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="flow-gradient">
          <div class="row accomodate-row page-base-wrap">
            <div class="col-md-6">
              <div class="decor-accomodate-img">
                <img src="http://www.vacationrentalassistance.com/wp-content/uploads/VRBO_Logo.gif" />
              </div>
            </div>
            <div class="col-me-6">
              <div class="decor-accomodate-text">
                <h3>
                  <a href="http://www.vrbo.com/vacation-rentals/usa/hawaii/maui/south-maui/kihei?from-date=2014-10-19&to-date=2014-10-26&maxprice=1400">VRBO</a>
                </h3>
                <p>
                  <span class="glyphicon glyphicon-asterisk"></span> Over eight-hundred properties available for less than $200 per night
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="flow-gradient">
          <div class="row accomodate-row page-base-wrap">
            <div class="col-md-6">
              <div class="decor-accomodate-img">
                <img src="https://a0.muscache.com/airbnb/static/about/resources/airbnb-logo-293-1d7ea0761fc6bc1efde1d6e706479392.png" />
              </div>
            </div>
            <div class="col-me-6">
              <div class="decor-accomodate-text">
                <h3>
                  <a href="https://www.airbnb.com/s/Kihei--HI--United-States?checkin=10%2F19%2F2014&checkout=10%2F26%2F2014&guests=2&room_types%5B%5D=Entire+home%2Fapt">Airbnb</a>
                </h3>
                <p>
                  <span class="glyphicon glyphicon-asterisk"></span> Over one-hundred properties available for less than $125 per night
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="flow-gradient">
          <div class="row accomodate-row page-base-wrap">
            <h3>
              <a href="https://www.google.com/maps/search/hotels/@20.6754872,-156.4384026,14z?hl=en-US">Other Hotel Options from Google</a>
            </h3>
            <iframe width="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?near=Gannon's,+100+Wailea+Golf+Club+Drive,+Wailea-Makena,+HI+96753&amp;geocode=CWhqm08h_PbsFfNUOwEd7Pqs9ilDRipxKdtUeTFcvY0ZmtOllw&amp;q=hotels&amp;f=l&amp;gl=us&amp;sll=20.665587,-156.435732&amp;sspn=0.018792,0.031629&amp;ie=UTF8&amp;hq=hotels&amp;hnear=&amp;t=m&amp;ll=20.666975,-156.437544&amp;spn=0.049272,0.013859&amp;output=embed" style="
              width: 100%;
              height: 500px;
          "></iframe>
          </div>
        </div>

    </div>
  </div>
</div>
