<div class="page-base">
  <nav class="page-base-nav navbar navbar-default" role="navigation">
    <div class="container-fluid page-base-wrap">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home">Danny & Jason</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a class="nav-scroll-ref" data-name="date" href="#date">Date</a>
          </li>
          <li>
            <a class="nav-scroll-ref" data-name="location" href="#location">Location</a>
          </li>
          <li>
            <a class="nav-scroll-ref" data-name="accomodation" href="#accomodation">Accomodation</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-base-container"></div>
</div>